body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: #EBE8DB;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: #3D0301;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    width: max-content;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    border: 2px solid #444;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
}

.cell:hover {
    background-color: #e0e0e0;
}

#displayInfo {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

.restart {
    text-align: center;
    margin-top: 1.1rem;
}

#restartButton {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #f5f39e;
}

#restartButton:hover {
    background-color: #eeec95;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
    color: #444;
}

footer a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #000;
}